@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Jost", sans-serif;
}

body {
  font-family: "Jost", sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.btn-primary {
  @apply bg-black text-white px-8 py-3 uppercase tracking-wider text-sm hover:bg-gray-800 transition-colors duration-300;
}

.btn-outline {
  @apply border border-black text-black px-8 py-3 uppercase tracking-wider text-sm hover:bg-black hover:text-white transition-colors duration-300;
}

/* Swiper Navigation Customization */
.swiper-button-next,
.swiper-button-prev {
  background-color: transparent !important;
  width: auto !important;
  height: auto !important;
  border-radius: 0;
  color: black !important;
  transition: all 0.3s ease;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: transparent;
  transform: scale(1.2);
  box-shadow: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
  font-weight: bold;
}